.root {
  color: var(--color-text-default);
  background: var(--color-bg-surface);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  line-height: var(--font-line-height-normal);
}
